<?xml version="1.0"?>
<launch>

<arg name="model" default="$(find ai)/urdf/summit.urdf.xacro"/>
<arg name="rvizconfig" default="$(find ai)/rviz/robot.rviz"/>

<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

<!--launch gazebo-->
<include file="$(find ai)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)"/>
</include>
</launch>